#login{
    width: 100%;
    /* height: 74vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 20px;
}
#login form{
    max-width: 500px;
    width: 100%;
    border: 1px solid black;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border-radius: 10px;
}

#title{
    /* width: 100%; */
    font-size: 40px;
    font-weight: 400;
    margin: 0 auto 20px;
    /* text-align: center; */
}

.list1{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    
}

.list1 input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgb(70 , 69 , 69);
}
.list1 label{
    font-size: 20px;
    font-weight: 300;
}
.loginbtn{
    padding: 9px 40px;
    background: green;
    border: 1px solid green;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: .3s ease;
    cursor: pointer;
}

.loginbtn:hover{
    background: transparent;
    border: 1px solid green;
    color: green;
}